*{
    padding: auto;
    margin: auto;
    margin-top: 5px;
}

body {
    font-size: 16px;
    font-family: 'Ubuntu', Arial, sans-serif, helvetica;
    color: #000000;
}

#regiration_form fieldset:not(:first-of-type) {
    display: none;
}

.st1 {
	height: 100%;
	width: 80%;
}

.progress-bar {
	color: black;
	font-size: 16px;
	font-weight: bold;
}
